<h1>GAMES INDEX</h1>

<div class="card-product">
  <img src="https://www.argusjeux.fr/medias/mario-kart-super-circuit-e58327.jpg" />
  <div class="card-product-infos">
    <h2>Super Mario Kart</h2>
    <h3>Game Boy Advance</h3>
    <p>Inteligent Systems</p>
    <p>2002</p>
    <img id="add-icon" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMnB0IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0zMDQgNTEyaC05NmMtMTcuNjc5Njg4IDAtMzItMTQuMzIwMzEyLTMyLTMydi0xNDRoLTE0NGMtMTcuNjc5Njg4IDAtMzItMTQuMzIwMzEyLTMyLTMydi05NmMwLTE3LjY3OTY4OCAxNC4zMjAzMTItMzIgMzItMzJoMTQ0di0xNDRjMC0xNy42Nzk2ODggMTQuMzIwMzEyLTMyIDMyLTMyaDk2YzE3LjY3OTY4OCAwIDMyIDE0LjMyMDMxMiAzMiAzMnYxNDRoMTQ0YzE3LjY3OTY4OCAwIDMyIDE0LjMyMDMxMiAzMiAzMnY5NmMwIDE3LjY3OTY4OC0xNC4zMjAzMTIgMzItMzIgMzJoLTE0NHYxNDRjMCAxNy42Nzk2ODgtMTQuMzIwMzEyIDMyLTMyIDMyem0wIDAiIGZpbGw9IiM0OGM4ZWYiLz48L3N2Zz4=" />
  </div>
</div>


