.show-top {
  margin: 20px 12px;
  padding: 30px 20px;
  border-radius: 8px;
  border-radius: 10px;
  border: 1px solid #ececec;
  text-align: center;
}

.show-top img {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
}

.show-top h1 {
  font-size: 20px;
  margin: 20px 0px;
}

.show-bottom {
  margin: 20px 12px;
  padding: 30px 20px;
  border-radius: 8px;
  border-radius: 10px;
  border: 1px solid #ececec;
}

.show-bottom h3 {
}

.show-bottom h4 {
}

.show-bottom p {
}

#description {
}
