p {
  margin-left: 30px;
  margin-top: 10px;
  opacity: 0.7;
}

.trophy img {
  width: 45px;
  height: 45px;
  margin-left: 5px;
}

.trophy {
  display: flex;
  justify-content: center;  
}

.friends img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
  }

.friends {
  display: flex;
  justify-content: center;  
}

