<div  class="mx-auto" style="width: 200px;">
  <img src="https://www.freelogodesign.org/file/app/client/thumb/4a067ad0-724f-42c4-9333-8eb663a04564_200x200.png?1615315341319" alt="">
</div>

<div class="mx-auto" style="width: 400px;">
  <p>Buid your collection and share it with your friends!</p>
</div>

<div class="mx-auto" style="width: 300px;">
  <h1>SEARCH BAR </h1>
</div>

<div class="mx-auto" style="width: 200px;">
  <%= link_to "ENTER MY COLLECTION", video_games_path, class: "btn btn-primary rounded-pill" %>
</div>

<div class="mx-auto" style="width: 200px;">
  <%= link_to "FIND A SHOP AROUND", shops_path, class: "btn btn-success rounded-pill" %>
</div>
