<div id="bg" class="bg-image"
style="background-image: url('https://aithority.com/wp-content/uploads/2018/11/controller-2618897_960_720.jpg');
      height: 100vh; object-fit: cover; ">

<div class="container">
  <img class="home-pic" src="https://api.freelogodesign.org/files/b687315987f94876bec8bfaa04be61e8/thumb/logo_200x200.png?v=0">
  <div class="proposition">
    <div class="mx-auto" style=" width: 300px;">
      <h1 style="color:white">Collect, manage and share your video game collection</h1>
    </div>
  </div>
  <div class="mx-auto" style=" width: 150px;">
    <%= link_to "ALL GAMES", video_games_path, class: "btn btn-primary rounded-pill" %>
  </div>
</div>



</div>