
<div  class="mx-auto" style="width: 200px;">
  <img src="https://www.freelogodesign.org/file/app/client/thumb/4a067ad0-724f-42c4-9333-8eb663a04564_200x200.png?1615315341319" alt="">
</div>

<div class="mx-auto" style="width: 300px;">
  <h1>Collect, manage and share your video game collection in one place</h1>
</div>

<div class="mx-auto" style="width: 150px;">
  <%= link_to "ALL GAMES", video_games_path, class: "btn btn-primary rounded-pill" %>
</div>


