<div class="container">
  <img class="home-pic" src="https://api.freelogodesign.org/files/b687315987f94876bec8bfaa04be61e8/thumb/logo_200x200.png?v=0">
  <div class="proposition">
    <div class="mx-auto" style=" width: 300px;">
      <h1>Collect, manage and share your video game collection</h1>
    </div>
  </div>
  <div class="mx-auto" style=" width: 150px;">
    <%= link_to "ALL GAMES", video_games_path, class: "btn btn-primary rounded-pill" %>
  </div>
</div>


