.btn {
  margin: 10px;
  color: white;
  opacity: 0.7;
}

.show-btn {
}

.show-btn a{
}

#scrollUp {
  width:30px ;
  height: 30px;
  margin: 15px;
}

.formsearch .btn {
  margin: 0;
}

.formsearch {
  display: flex;
}
