.btn {
  margin: 10px;
  color: white;
  opacity: 0.7;
}

.show-btn {
  margin: 20px;
  padding: 0px 42px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  background-color: #fff;
  color: #16c79a;
  font-size: 40px;
  font-weight: bold;
}

#scrollUp {
  width:30px ;
  height: 30px;
  margin: 15px;
}
