.cadre {
  height: 600px;
  width: 450px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(211, 211, 211, 0.541);
  margin: 15px;
  border-radius: 5px;
  position: relative;
}