.card-collection {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid #ececec;
  background-color: #fff;
}

.card-collection a {
  text-decoration: none;
  color: #1e212d;
}

.card-collection-pic {
  object-fit: cover;
  width: 100%;
  height: 40vw;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-collection-infos {
  padding: 10px;
}

.card-collection-infos h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-collection-infos h3 {
  font-size: 14px;
  color: #333;
}

.card-collection-text {
  margin: 5px;
}

.card-collection-remove {
  float: right;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ececec;
  background-color: #fff;
  height: 38px;
  width: 58px;
  margin: 7px;
}

.card-collection-icon {
  width: 60%;
}
