// .card-collection {
//   width: 100%;
//   margin: 10px auto;
//   border-radius: 5px;
//   border: 1px solid #ececec;
//   background-color: #fff;
// }

// .card-collection a {
//   text-decoration: none;
//   color: #1e212d;
// }

// .card-collection-infos {
//   padding: 10px;
// }

// .card-collection-infos h2 {
//   font-size: 16px;
//   font-weight: bold;
// }

// .card-collection-infos h3 {
//   font-size: 14px;
//   color: #333;
// }

// .card-collection-text {
//   margin: 5px;
// }



#minus img {
  position: absolute;
  height: 20px;
  width: 20px;
  object-fit: cover;
  right: 14px ;
  bottom: 10px;
}

.dropdown img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
} 

.dropdown {
  margin: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards a {
  color: black;
  text-decoration: none;
}

#detail img {
  position: absolute;
  height: 20px;
  width: 20px;
  object-fit: cover;
  left: 20px ;
  bottom: 10px;
}