.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// // .navbar-lewagon .navbar-brand img {
// //   width: 40px;
// // }


.nav-item img {
  width: 35px;
  height: 35px;
  margin: 2px;
  margin-left: 10px;
}

.formsearch #loupe {
  width: 35px;
  height: 35px;
  margin-left: 2px;
}

.formsearch{
  width: 160px ;
}