.show-top {
  margin: 0px 20px;
  padding: 40px 0px 20px 0px;
  border-radius: 8px;
  background-color: #F6F6F6;
  text-align: center;
}

.show-top img {
  margin: 0px 0px 10px 0px;
  border-radius: 8px;
}

.show-top h1 {
  margin: 20px;
  font-size: 32px;
  font-weight: bold;
}
